<% include ./partials/header %>

<h1>Regisztráció</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Felhasználónév"></input>
    <input type="text" name="password" placeholder="Jelszó"></input>
    <button>Regisztráció!</button>
</form>

<% include ./partials/footer %>